* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*general*/
:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111:
}

html, body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #E6EDf5; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #0f0e0e;
}

ul {
    list-style: none;
}


img {
    max-width: 100%;
}

/*navbar*/
.navbar {
    /*background: rgba(182,206,232, 0.8);*/
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    z-index: 1000;
    background: linear-gradient(135deg, rgba(182, 206, 232, 0.8), rgba(220, 220, 220, 0.8));
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.6), inset 0 -3px 6px rgba(50, 50, 50, 0.2);
}

.container-navbar {
    max-width: 1500px;
    display: flex;
    margin: 0 auto 0px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-left: 150px;
}

.home {
    padding-left: 150px;
    display: inline;
}

.home img {
    width: 30%;
    height: 30%;
}

.language-mobile {
    display: none;
}

.navbar .main-menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    }

.navbar ul li a {
    position: relative;
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    color: rgb(71, 69, 69);
    font-size: 16px;
}

.navbar .main-menu li a:after {
    content: '';
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    transform:scaleX(0);
    transform-origin: right;
    background: grey;
    transition: transform .2s ease-out;
}

.navigation {
    content: '';
    position: absolute;
    height: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    transform:scaleX(0.95);
    background: grey;
    transition: transform .2s ease-out;
}

.navbar ul li a:hover::after {
    transform: scaleX(0.95);
}

/*navbar mobile*/
.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 5px;
    background: linear-gradient(135deg, rgba(220, 220, 220, 1), rgba(182, 206, 232, 1));
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.6), inset 0 -3px 6px rgba(50, 50, 50, 0.2);
    padding: 10px;
    z-index: 999;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu ul li {
    margin-bottom: 10px;
}

.mobile-menu ul li a {
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.mobile-menu ul li:last-child {
    margin-bottom: 0;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.hamburger div {
    width: 20px;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    transition: transform 0.1s ease, opacity 0.1s ease;
}

.hamburger.active div:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active div:nth-child(2) {
    opacity: 0;
}

.hamburger.active div:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/*slo*/
.container-slo {
    padding: 10px 20px;
    font-weight: 600;
    color: black;
    font-size: 15px;
    align-items: center;
    border: none;
    text-decoration: underline;
}

/*cover*/
.cover-section {
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323436;
    box-sizing: border-box;
}

.container-cover {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    background-color: #323436;
    padding-top: 0px;
}

.left, .right {
    margin: 10px;
}

.left img, .right img {
    max-width: 100%;
    height: auto;
}

/*index-speakers*/
.index-speakers-section {
    background-image: #E6EDf5;
    position: relative;
}

.index-speakers-section .goal .text-xl {
    text-align: right;
}

.index-container-speakers {
    max-width: 1100px;
    margin: 50px auto 0;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
}

.index-container-keynotes {
    max-width: 1100px;
    margin: 0 auto 0px;
    position: relative;
}

.keynotes-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

/*index-keynotes-grid*/
.grid-keynotes {
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr)); /*responsive grid*/
    gap: 20px;
    padding: 20px 20px;
    margin: 30px auto 150px;
    background: #323436;
    background-blend-mode: overlay;
}

.grid-speaker {
    text-align: center;
    padding-bottom: 20px;
}

.speaker-image-wrapper {
    position: relative;
    width: 100%;
    height: 276px;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 50px;
    aspect-ratio: 1,084 / 1;
}

.speaker-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(255, 255, 255, 0.8);
}

.overlay-text a {
    color: #006AC2;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
}

.grid-speaker:hover .overlay-text {
    opacity: 1; /*show lecture title*/
}

.speaker-name {
    text-decoration: none;
    color: #E6EDf5;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.6rem;
    text-align: center;
    display: block;
}

/*footer*/
.footer {
    padding: 15px;
    margin: auto 0;
    background: linear-gradient(135deg, rgba(182, 206, 232, 0.8), rgba(220, 220, 220, 0.8));
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.6), inset 0 -3px 6px rgba(50, 50, 50, 0.2);
}

.container-footer {
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 0px;
}

.container-footer .text-l {
    margin: 0px; 
    text-align: right; 
    color: #333;    
}

.contacts {
    max-width: 1100px;
    padding: 15px 0 15px;
    text-align: right;
}

.container-footer-mobile {
    display: none;
    flex-direction: column;
    text-align: center;
}

.container-footer-contacts {
    text-align: right;
    margin: 0px;
    padding: 0px;
}

/*about*/
.container-about {
    max-width: 1100px;
    margin: 100px auto 100px;
    padding: 100 15px 15px;
}

.goal {
    padding-bottom: 20px;
}

.goal .text-xl {
    text-align: left;
}

.container-about .text-xl {
    color:black; 
    text-align: left; 
    padding-bottom: 20px; 
    padding-top: 0px;
}

/*programme*/
.container-programme {
    max-width: 1100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 100 15px 15px;
}

.collapsible {
    color: #333;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #006AC2;
}

.abstract {
    display: none;
    max-width: 900px;
    margin: 20px auto;
    position: relative;
    font-size: 1.1rem;
    text-align: justify;
}

.container-programme .text-xl {
    text-align: left;
}

/*keynotes*/
.container-keynotes {
    max-width: 1100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 100 15px 15px;
}

.keynotes-speakers {
    max-width: 1100px;
    margin: 0px auto 50px;
    padding: 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-keynotes .text-normal {
    text-align: left;
    margin-bottom: 100px;
}

.keynotes-section-mobile {
    display: none;
}


/*venues*/
.container-venues {
    max-width: 1100px;
    margin: 100px auto 100px;
    padding: 0 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-venues-location {
    max-width: 400px;
}

.container-venues .container-venues-location .text-xl {
    padding-bottom: 20px;
}

.container-venues .container-venues-location .text-normal {
    text-align: right;
}

.container-venues-location .abstract{
    max-width: 400px;
}

/*credits*/
.container-credits {
    max-width: 1100px;
    margin: 100px auto 100px;
    padding: 100 15px 15px;
}

.container-credits .text-xl {
    color:black; 
    text-align: left; 
    padding-bottom: 20px; 
    padding-top: 0px;
}

/*info*/
.container-info {
    max-width: 1100px;
    margin: 100px auto 100px;
    padding: 100 15px 15px;
}

.container-info-location {
    max-width: 1100px;
    margin: 0px auto 100px;
    padding: 0px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-info-location :last-child {
    padding-top: 0px;
}

.container-info-location-text {
    max-width: 400px;
}

.container-info .container-info-location-text .text-xl {
    color:black; 
    padding-bottom: 20px;
}

.container-info .container-info-location-text .text-normal {
    text-align: right;
}

.container-info-location-text .text-normal .link {
    text-align: right;
}

.container-info .container-info-residum .text-xl {
    color:black; 
    text-align: left; 
    padding-bottom: 20px;
}

.container-info .container-info-residum .text-normal {
    margin-bottom: 50px;
}

/*text*/
.text-sm {
    font-size: 0.9rem;
    color: #333;
    line-height: 1.5;
    font-weight: 400;
    margin: 3px;
    text-align: center;
}

.text-mail {
    font-size: 1.1rem;
    color: #333;
    line-height: 2;
    font-weight: 400;
    margin: 0px;
    text-align: right;
}

.text-bio {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
    font-weight: 400;
    margin: 30px 5px 0px;
    text-align: justify;
}

.text-m {
    font-size: 1.1rem;
    color: #333;
    line-height: 0.5;
    font-weight: 400;
    margin: 0px;
}

.text-normal {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    font-weight: 400;
}

.link {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #006AC2;
    line-height: 1.6;
    font-weight: 400;
    text-align: right;
    font-size: 1.2rem;
}

.text-l {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 15px;
    text-align: left;
}

.text-xl {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    text-align: right;
    color: black;
}

/*mobile*/
@media (max-width: 768px) {
    html, body {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    .container-navbar {
        height: 30px;
    }

    .main-menu {
        display: none;
    }

    .language-mobile {
        display: inline;
        padding-left: 0px;
    }

    .logo {
        display: none;
        padding-left: 10px;
    }

    .home {
        display: inline;
        padding-left: 10px;
    }

    .home img {
        width: 30%;
        height: 30%;
    }

    .hamburger {
        display: flex;
    }

    .mobile-menu.active {
        display: flex;
    }

    .container-footer {
        display: none;
    }

    .container-footer-mobile {
        display: flex;
    }

    .container-footer-mobile .text-l {
        text-align: center;
    }

    .cover-section {
        flex-direction: column;
        padding: 20px 10px;
    }

    .container-cover {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .left, .right {
        width: 100%;
        margin: 10px 0;
    }

    .index-speakers-section {
        padding: 20px 10px;
        margin: 0;
        background-color: #E6EDf5;
    }

    .index-container-speakers, .index-container-keynotes {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .index-container-speakers .text-xl {
        text-align: right;
    }

    .index-container-keynotes .text-xl {
        text-align: right;
    }

    .grid-keynotes {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 10px;
        margin: 20px auto;
    }

    .grid-speaker {
        margin-bottom: 20px;
    }

    .overlay-text a {
        font-size: 1.2rem;
    }

    .text-xl {
        font-size: 1.4rem;
    }

    .text-l {
        font-size: 1.2rem;
    }

    .text-normal, .text-mail, .link {
        font-size: 1rem;
    }

    .about-section {
        padding: 30px 10px;
        margin: 0px;
    }

    .container-about {
        max-width: 90%;
        margin: 0 auto;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container-about .text-xl {
        padding-top: 0px;
        padding-bottom: 10px;
        margin: 0px auto;
    }

    .programme-section-section {
        padding: 30px 10px;
        margin: 0px;
    }
    
    .container-programme {
        max-width: 90%;
        margin: 0 auto;
    }

    .container-programme-day {
        text-align: left;
        padding: 10px 0;
        padding-bottom: 10px;
    }

    .collapsible {
        font-size: 1rem;
        cursor: pointer;
        text-decoration: underline;
        color: #006AC2;
        display: block;
        padding: 5px 0;
    }

    .abstract {
        padding: 10px 0;
    }

    .keynotes-section {
        display: none;
    }

    .keynotes-section-mobile {
        padding: 30px 10px;
        display: block;
    }

    .container-keynotes-mobile{
        max-width: 90%;
        margin: 0 auto;
    }
    
    .keynotes-speakers-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .keynotes-speakers-mobile img {
        width: 100%;
        max-width: 250px;
        height: auto;
        margin: 15px 0;
    }
    
    .keynotes-section-mobile .keynotes-speakers-mobile .text-l {
        font-size: 1.4rem;
        text-align: left;
        margin: 10px 0;
        padding-left: 0px;
    }

    .keynotes-section-mobile .keynotes-speakers-mobile .text-xl {
        font-size: 1.4rem;
        text-align: left;
        margin: 10px 0;
        padding-left: 0px;
    }

    .keynotes-section-mobile .container-keynotes-mobile .text-normal {
        margin-bottom: 50px;
    }

     .credits-section {
        padding: 30px 10px;
        margin: 0px;
    }

    .container-credits {
        max-width: 90%;
        margin: 0 auto;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container-credits .text-xl {
        padding-top: 0px;
        padding-bottom: 10px;
        margin: 0px auto;
    }

    .venues-section {
        padding: 30px 10px;
        margin: 0px;
    }

    .container-venues {
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .container-venues iframe {
        width: 100%;
        max-width: 350px;
        height: auto;
        align-items: center;
        margin-bottom: 30px;
        padding-top: 0px;
    }

    .container-venues .container-venues-location .text-xl {
        text-align: left;
    }

    .container-venues .container-venues-location .text-xl {
        text-align: left;
    }

    .abstract {
        font-size: 1rem;
        line-height: 1.4;
    }

    .info-section {
        padding: 30px 10px;
        margin: 0px;
    }

    .container-info {
        padding-top: 0px;
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .container-info-location {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 auto 20px;
        padding-top: 0;
    }

   .container-info-location-text {
        text-align: center;
        padding-bottom: 10px;
    }

    .container-info iframe {
        width: 100%;
        max-width: 350px;
        height: auto;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 0px;
        padding-top: 0px;
    }

    .container-info-residum .text-xl {
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        margin-top: 0px;
    }

    .container-info-residum .text-normal {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}
